<app-navbar></app-navbar>

<!-- tailwind tutorial netninja: https://github.com/iamshaunjp/tailwind-tutorial -->

<main>
  <div class="grid md: grid-cols-1 place-items-center">
    <div class="md: m-44"></div>
    <div class="card p-4 lg:h-[56px] lg:w-[654.56px]">
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xs: space-y-3 lg:space-y-0 place-items-center">
        <app-country [(selectedCountry)]="selCountry"></app-country>
        <app-time [selectedCountry]="selCountry()"></app-time>
        <app-currency [selectedCountry]="selCountry()"></app-currency>
        <app-weather [selectedCountry]="selCountry()"></app-weather>
      </div>
    </div>
    <div class="md: m-20"></div>
    <div class="text-red-500">Unable to fetch currency data</div>
  </div>
</main>