<app-navbar></app-navbar>

<!-- tailwind tutorial netninja: https://github.com/iamshaunjp/tailwind-tutorial -->
<main class="flex h-screen">
  <div class="card m-auto p-4">
    <div class="grid justify-between items-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 place-items-center">
      <app-country [(selectedCountry)]="selCountry"></app-country>
      <app-time [selectedCountry]="selCountry()"></app-time>
      <app-currency [selectedCountry]="selCountry()"></app-currency>
      <app-weather [selectedCountry]="selCountry()"></app-weather>
    </div>
  </div>
</main>
